body {
  margin: 0;
  background: #f06;
}
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
@import 'common/main';
@import 'common/avatar';
@import 'common/mixin';
@import 'common/socials';
@import 'common/header';