.footer.clearfix
	.footer__block
		.footer__block-wrapper
			p.default-text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool.
	.footer__line
	.footer__block
		ul.nav__list
			li.nav__item
				a(class="nav__link" href="index.html") Мои работы
			li.nav__item
				a(class="nav__link" href="about.html") Обо мне
			li.nav__item
				a(class="nav__link" href="blog.html") Блог
			li.nav__item
				a(class="nav__link" href="") Авторизация
		include ../common/socials
	.footer__line
	.footer__block
		addres.coordinate
			p.default-text skype_NalivaykinKonstantin
			p.default-text kacteh@list.ru
			p.default-text +7 968 534 20 90
			p.default-text МО,Г.О.Балашиха,ул.Речная,д.12
