extends ../_template

block variables
	- var title = 'My work'

block content
	include ../common/header
		//- *******My-work**********
	main.clearfix.my-work
		.box-wrapper
			h1.main_article Мои работы			
		.works__svg
			svg(version='1.1', opacity=0.6, width='100%', height='285px', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', viewbox='0 0 50 50', preserveaspectratio='none').triangle__left
				polygon(fill='#000', points='0,0 0,130 100,40')
			svg(version='1.1', opacity=0.6, width='100%', height='285px', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', xml:space='preserve', viewbox='0 0 50 50', preserveaspectratio='none').triangle__right
				polygon(fill='#000', points='100,100 -75,50 50,0')
		.main-left
			.loftschool
				h3.article Сайт школы онлайн образования
				.line-segment
				p.main-left__text  html, css,javascript
				button.button
					+svg('link', 'icons')
					a(class="button__link" href="http://loftblog.ru/" target="_blank") Посмотреть сайт
		.main-right
			.slider-big
				.slider__display-big
					ul.worksList
						li.worksList__item.slider__item.active
							img.worksList__image(src="assets/img/work-1.png" alt="Школа Онлайн Образования Loftschool.com")
			.slider
				.slider_display
					ul.worksList__control.worksList__control__down
						a.worksList__control__link(href="#")
							img(class="arrow slider__controls-down" src="assets/img/slider__controls-down.png" alt="стрелка")
						li.worksList__control__item.slider__item.active
							img(class="WorksList__control__image" src="assets/img/work-4.png" alt="Школа Онлайн Образования Loftschool.com")
			.slider_opposite
				.slider_display
					ul.worksList__control.WorksList__control__up
						a.worksList__control__link(href="#")
							img(class="arrow slider__controls-top" src="assets/img/slider__controls-top.png" alt="стрелка")
						li.worksList__control__item.slider__item.active
							img(class="WorksList__control__image" src="assets/img/work-3.png" alt="Школа Онлайн Образования Loftschool.com")

		//- *******Say-about-me**********
	.sayaboutme

		img(class="mayak" src="assets/img/mayak.png" alt="Изображение маяка")
		.content
			.about-me
				h1.main_article Что обо мне говорят
			ul.reviewsList.clearfix
				li.reviewsList__item
					.reviewsList__send
						.reviewsList__image
							img(src="assets/img/kovalchuk.png" width="71" alt="Ковальчук Дмитрий. Основатель Loftschool.com")
					blockquote.reviewsList__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
					.reviewsList__send
						.reviewsList__user
							cite.reviewsList__user__name="Ковальчук Дмитрий"
							cite.reviewsList__user__work="Основатель Loftschool"	
				li.reviewsList__item
					.reviewsList__send
						.reviewsList__image
							img(src="assets/img/zakharov.png" width="71" alt="Ковальчук Дмитрий. Основатель Loftschool.com")
					blockquote.reviewsList__text Этот код выдержет любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
					.reviewsList__send
						.reviewsList__user
							cite.reviewsList__user__name="Зар Захаров"
							cite.reviewsList__user__work="главный преподаватель"	
			.form-wrapper.clearfix
				form.form-wrappe__form( action="")
					h3.article.article__form Связаться со мной
					.line-segment
					input(type="text" placeholder="Ваше имя" name="name")
					input(type="email" placeholder="Ваш email" name="email")
					textarea(name="message" id="" cols="38" rows="6" placeholder="Ваше обращение")
					button(class="form__button" type="submit") Отправить
					button(class="form__button" type="reset") Очистить
	footer
		include ../common/footer

